<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン画面</title>
</head>
<body>
  <h1>ログイン画面</h1>

  <form method="POST" action="{%url 'mychat:main'%}">
    {% csrf_token %}
  <p>ユーザー名<input type="text" name="name" size="15"></p>
  <p>
    パスワード<input type="password" name="password" size"15">
  </p>
  <p>
    <input type="hidden" name="login" value="on">
  </p>
  <p>
    <input type="submit" value="ログイン">
  </p>
  </form>

  <p><a href="{%url 'mychat:createuser'%}">新規ユーザー登録</a></p>
</body>
</html>
